Source: neutron-plugin-nsx
Section: net
Priority: extra
Maintainer: VMware, Inc. <nsx-support@vmware.com>
Standards-Version: 3.7.3

Package: neutron-plugin-nsx
Architecture: amd64
Depends: neutron-server
Description: VMware NSX Plugin
  This package provide Neutron plugins for VMware NSX-mh, NSX-V and NSX_v3 platforms
